upstream backend {
        {{ range service "web" }}
        server {{.Node}}:{{.Port}};{{end}}
}

server {
        listen 80;
        server_name {{ ansible_ens224.ipv4.address }};
        location / {
          proxy_pass http://backend;
        }
}
